
/* public/css/mypage.css */

.btn-outline-danger  {
background-color: white;
color: red;
border-color: red;
}

.btn-outline-danger :hover {
    background-color: #ffe6e6; /* ホバー時に少し赤みを加える */
    color: darkred;
    border-color: darkred;
}

.item{
    border: none;
}

.container {
        display: flex;
        justify-content: space-between;
        padding: 20px;
}

.left-half, .right-half {
    width: 50%;
}

.btn.selected {
    color: red;
    background-color: white;
    border-color: red;
}

/* ボタンのホバー時スタイル */
.btn.selected:hover {
    color: darkred;
    background-color: #ffe6e6;
    border-color: darkred;
}

/* 非選択ボタンのスタイル */
.btn:not(.selected) {
    color: black;
    background-color: white;
    border-color: #ccc;
}

.btn:not(.selected):hover {
    background-color: #f2f2f2;
}


.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}
